@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 0.125s;
}

body{
    overflow-x: hidden;
}

.step::before, .step::after{
    @apply bg-gray1;
}

.select, .btn{
    min-height: 2.5rem;
    height: 2.5rem;
}